#game {
  display: flex;
  flex-wrap: wrap;
}

#game > div {
  width: 400px;
  height: 400px;

  max-width: 100vw;
  max-height: 100vw;
}

#reference-sequence > div {
  background: lightgrey;
}

@keyframes highlight {
  0% {
    background: lightgrey;
  } 

  10% {
    background: red;
  }

  90% {
    background: red;
  }

  100% {
    background: lightgrey;
  } 
}